[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptocompare = "*"
pandas = "*"
matplotlib = "==3.2.2"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.8"
